

/* eslint complexity: ["error", 300] */
<%_
const i18nToLoad = [entityInstance];
for (const idx in fields) {
    if (fields[idx].fieldIsEnum === true) {
        i18nToLoad.push(fields[idx].enumInstance);
    }
}
// const query = generateEntityQueries(relationships, entityInstance, dto);
// const queries = query.queries;
// const variables = query.variables;
// let hasManyToMany = query.hasManyToMany;
_%>
import React from 'react';
import { connect } from 'react-redux';
<%_ let baseFiltersModal = false; _%>
<%_  if(this.generator.baseFiltersAttributes && this.generator.baseFiltersAttributes['window'] === "modal") { _%>
<%_ baseFiltersModal = true; _%>
import { Modal as Panel, ModalHeader as PanelHeader, ModalBody as PanelBody } from 'reactstrap';
<%_ } else { _%> 
import {Panel, PanelHeader, PanelBody} from 'app/shared/layout/panel/panel.tsx';
<%_ } _%> 
import { AvForm } from 'availity-reactstrap-validation';
import { <%= entityReactName %>Update, mapStateToProps, mapDispatchToProps } from '../<%= entityFileName %>-update';
import { IRootState } from 'app/shared/reducers';
export interface IUpdateExtendedState {
  dumystate?: any;
}

  export class <%= entityReactName %>ExtendedUpdate extends <%= entityReactName %>Update {
      renderHeader() {
        return <> { super.renderHeader() } </>
      }

      renderBody() {
        return <> { super.renderBody() } </>
      }

      render() {
      const { <%= entityInstance %>Entity, loading, updating } = this.props;
      const { isNew } = this.state;

      <%_ for (var i = 0; i < blobFields.length; i++) { _%>
      <%_
      const b = blobFields[i];
      if (i === 0) {
    _%>
      const {
      <%_ } _%>
      <%= b.fieldName %>
      <%_ if (b.fieldTypeBlobContent !== 'text') { _%>
      , <%= b.fieldName %>ContentType
      , <%= b.fieldName %>Base64
      <%_ } _%>
      <%_ if (i+1 === blobFields.length) { _%>
      } = <%= entityInstance %>Entity;
      <%_ } else { _%>
      ,
      <%_ } _%>
      <%_ } _%>
      const baseFilters = this.state.fieldsBase && this.state.fieldsBase['baseFilters'] ? this.state.fieldsBase['baseFilters'] : null;

      return (
        <div>
            <AvForm model={isNew ? {
              <%_ for (idx in fields) { _%>
                <%_ if (typeof fields[idx].formLayoutDefault !== "undefined") { _%>
                  <%= fields[idx].fieldName %>: <%- fields[idx].formLayoutDefault %>,
                <%_ } _%>
              <%_ } _%>
            } : {
              ...<%= entityInstance %>Entity, 
              <%_ if (formTabs.length > 0) { _%>activeTab: 0,<%_ } _%>
            } } onSubmit={this.saveEntity}>
          <Panel <%_ if(baseFiltersModal) { %> isOpen <%_ } %>>
            <PanelHeader>
              { this.renderHeader() }
            </PanelHeader>
            <PanelBody>
              { this.renderBody() }
            </PanelBody>
          </Panel>
        </AvForm>
      </div>
      );
      }
      }

      export const mapStateToPropsExtended = (storeState: IRootState) => {
        const listBase = mapStateToProps(storeState);
        return {
          ...listBase, 
          listProcediment: storeState.patDrPrescrProcd.entities
        };
      };
      
      export const mapDispatchToPropsExtended = {
       ...mapDispatchToProps
      };
      export type StatePropsExtended = ReturnType<typeof mapStateToPropsExtended >;
        export type DispatchPropsExtended = typeof mapDispatchToPropsExtended;
          export default connect(mapStateToPropsExtended, mapDispatchToPropsExtended)(<%= entityReactName %>ExtendedUpdate);