<%_ const formLayoutLabel =  field.formLayoutLabel ?  field.formLayoutLabel : 'left' ; _%>
<%_ const formLayoutSize =  field.formLayoutSize ?  field.formLayoutSize : 12; _%>
<%_ const formLayoutClassName = typeof field.formLayoutClassName !== 'undefined' && field.formLayoutClassName.trim() ? field.formLayoutClassName.split("**") : []; _%>
<%_ const formLayoutInputMask = typeof field.formLayoutInputMask !== 'undefined' && field.formLayoutInputMask.trim() ? "mask='"+field.formLayoutInputMask.split("**").join(" ")+"' tag={InputMask}" : ""; _%>
<%_ const formLayoutCepBr = typeof field.formLayoutCepBr !== 'undefined' && field.formLayoutCepBr.trim() ? field.formLayoutCepBr : ""; _%>

<% const rulesValidate = field.fieldValidateRules ? field.fieldValidateRules : ""; _%>
<% const fieldType =  field.fieldType; _%>
<% const fieldName =  field.fieldName; _%>
<% const fieldNameHumanized =  field.fieldNameHumanized; _%>
<% let prevAux = '' _%>
<%_ let formLayoutShowCondition = typeof field.formLayoutShowCondition !== "undefined" 
        ? field.formLayoutShowCondition.map(v=> (v.indexOf('.') > 0 ? (v.substring(0,v.indexOf('.'))+"SelectValue"+v.substring(v.indexOf('.'))) : v.split("=")[0]+"SelectValue="+v.split("=")[1]) 
                                       .split(".").map( el => { el = prevAux + el; prevAux = el+'.'; return el} ).join(" && "))
                                       .map(v=> v.split(" && ").map(v1=>"this.state."+v1).join(" && "))
                                       .map(v=>v.split("=")[0]+" === "+v.split("=")[1]).join(" && ") : "true" _%>
<%_ formLayoutShowCondition += (typeof field.formLayoutShowConditionExact !== "undefined" ? " && " + field.formLayoutShowConditionExact : "") _%>
{ <%- formLayoutShowCondition !== "true" ? "("+formLayoutShowCondition+") && " : "" _%> baseFilters !== '<%= fieldName %>' ?
  <Col md="<%= formLayoutSize %>"
    <%_ if (formLayoutClassName.length > 0) { _%>className="<%= formLayoutClassName.map(v=>v+'-container').join(" ") %>"<%_ } _%>
    >
      <AvGroup>
        <Row>
          <%_ if (typeof field.formLayoutType !== "undefined" && field.formLayoutType === "HtmlEditor") { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className={"mt-2" <%_ if(rulesValidate.includes('required')){ %> + (this.state.<%= fieldName %>SelectValue === "" ? " text-danger" : "")<% } %>} 
                  id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>"
                >
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>

            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <ReactQuill 
                value={this.state.<%= fieldName %>SelectValue}
                onChange={evt => this.setState({ <%= fieldName %>SelectValue: evt })} 
                modules={quillEditorModules} 
                formats={quillEditorFormats}
              />
            </Col>
          <%_ } else if (typeof field.formLayoutType !== "undefined" && field.formLayoutType === "Currency") { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className={"mt-2" <%_ if(rulesValidate.includes('required')){ %> + (this.state.<%= fieldName %>SelectValue === "" ? " text-danger" : "")<% } %>} 
                  id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>"
                >
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>

            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <CurrencyInput
                onChange={(maskedvalue,floatvalue,event) => this.setState({ <%= fieldName %>SelectValue: floatvalue })}
                decimalSeparator=","
                thousandSeparator=""
                prefix="R$ "
                allowNegative={true}
                value={this.state.<%= fieldName %>SelectValue ? this.state.<%= fieldName %>SelectValue : 0}
                id="<%= entityFileName %>-<%= fieldName %>"
                name="<%= fieldName %>"
                className={'form-control'}
              />
            </Col>
          <%_ } else if (formLayoutCepBr) { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className={"mt-2" <%_ if(rulesValidate.includes('required')){ %> + (this.state.cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %>  ==="" 
                  ? " text-danger" : "")<% } %>} id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>"
                >
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <input id="<%= entityFileName %>-<%= fieldName %>"  type="text" name="<%= fieldName %>"  <%- formLayoutInputMask %> 
              className={"form-control" <%_ if(rulesValidate.includes('required')){ %> + (this.state.cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %> ===""
                ? " is-touched is-pristine av-invalid is-invalid" : "")<% } %>}  
              value={this.state.cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %> }  
              <%_ if(formLayoutCepBr == "cep"){ _%>
                onBlur={inputVal => {
                  viacepRequest( inputVal.target.value, (cepRequest: any)=>{this.setState(cepRequest)});
                  this.setState({<%= fieldName %>SelectValue: inputVal.target.value});    
                  this.setState({cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %>: inputVal.target.value ? inputVal.target.value : ""}); 
                }}
              <%_ } else { _%>
                onBlur={inputVal => this.setState({cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %>: inputVal.target.value ? inputVal.target.value : ""}) }  
              <%_ } _%>
              onChange={inputVal => {this.setState({cepRequest<%- formLayoutCepBr.slice(0, 1).toUpperCase() + formLayoutCepBr.slice(1).toLowerCase() %>: inputVal.target.value}); this.setState({<%= fieldName %>SelectValue: inputVal.target.value}); } } 
              />
            </Col>
          <%_ }  else if (fieldType === 'Boolean') { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <div className="switcher switcher-success">
                <input
                  type="checkbox"
                  name={'<%= fieldName %>_checkbox'}
                  id={'<%= fieldName %>_checkbox'}
                  defaultChecked={this.state.<%= fieldName %>SelectValue}
                  onChange={evt => this.setState({ <%= fieldName %>SelectValue: !this.state.<%= fieldName %>SelectValue })} 
                />
                <label htmlFor={'<%= fieldName %>_checkbox'} />
              </div>
            </Col>
          <%_ } else if (['Instant', 'ZonedDateTime'].includes(fieldType)) { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <DatePicker
                 autoComplete="off"
                 onChange={value => this.setState({ <%= fieldName %>SelectValue: value })}
                 id="<%= fieldName %>"
                 validate={{ <%- include('../react_validators') -%> }} 
                 className="form-control react-datepicker"
                 name="<%= fieldName %>"
                 dateFormat="dd/MM/yyyy"
                 selected={this.state.<%= fieldName %>SelectValue ? moment(this.state.<%= fieldName %>SelectValue).toDate() : null}
                 locale="pt"
               />
            </Col>
          <%_ } else if (fieldType === 'LocalDate') { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <DatePicker
                 autoComplete="off"
                 onChange={value => this.setState({ <%= fieldName %>SelectValue: value })}
                 id="<%= fieldName %>"
                 validate={{ <%- include('../react_validators') -%> }} 
                 className="form-control react-datepicker"
                 name="<%= fieldName %>"
                 dateFormat="dd/MM/yyyy"
                 selected={this.state.<%= fieldName %>SelectValue ? moment(this.state.<%= fieldName %>SelectValue).toDate() : null}
                 locale="pt"
               />
            </Col>
          <%_
        } else if ( field.fieldIsEnum) {
          const values =  field.fieldValues.replace(/\s/g, '').split(',');
      _%>
          <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
            <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
              <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                <%= fieldNameHumanized %>
              </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
            </Label>
          </Col>
          <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
          <Select
            id="<%= entityFileName %>-<%= fieldName %>"
            className={'css-select-control'}
            value={{ value: this.state.<%= fieldName %>SelectValue, label: translate("<%= angularAppName %>.<%= fieldType %>."+this.state.<%= fieldName %>SelectValue) }}
            options={[<%_ for (key in values) { const value = values[key]; _%>
              { value: "<%= value %>", label: translate("<%= angularAppName %>.<%= fieldType %>.<%= value %>") },
            <%_ } _%>]}
            onChange={(options: any) => this.setState({ <%= fieldName %>SelectValue: options['value'] })}
            name="<%= fieldName %>"
          />
          </Col>
          <%_ } else if (['Float', 'Double'].includes(fieldType)) { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
                <CurrencyInput
                  onChange={(maskedvalue,floatvalue,event) => this.setState({ <%= fieldName %>SelectValue: floatvalue })}
                  decimalSeparator=","
                  thousandSeparator=""
                  prefix=""
                  allowNegative={true}
                  value={this.state.<%= fieldName %>SelectValue ? this.state.<%= fieldName %>SelectValue : 0}
                  id="<%= entityFileName %>-<%= fieldName %>"
                  name="<%= fieldName %>"
                  className={'form-control'}
                />
            </Col>
          <%_ } else if (['Integer', 'Long'].includes(fieldType)) { _%>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
              <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
                <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                  <%= fieldNameHumanized %>
                </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
              </Label>
            </Col>
            <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
              <CurrencyInput
                onChange={(maskedvalue,floatvalue,event) => this.setState({ <%= fieldName %>SelectValue: floatvalue })}
                decimalSeparator=""
                thousandSeparator=""
                precision={0}
                prefix=""
                allowNegative={true}
                value={this.state.<%= fieldName %>SelectValue ? this.state.<%= fieldName %>SelectValue : 0}
                id="<%= entityFileName %>-<%= fieldName %>"
                name="<%= fieldName %>"
                className={'form-control'}
              />
            </Col>
          <%_ } else if (['byte[]', 'ByteBuffer'].includes(fieldType)) {

              const fieldBlobType =  field.fieldTypeBlobContent;
              if (fieldBlobType !== 'text') {
                const isAnImage = fieldBlobType === 'image';
                const capitalizedFirstLetter =  _.upperFirst(fieldName);

          _%>
              <Col md="<%= formLayoutSize %>">
                <AvGroup>
                  <Row>
                    <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
                      <Label className="mt-2" id="<%= fieldName %>Label" for="<%= fieldName %>">
                        <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                          <%= fieldNameHumanized %>
                        </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
                      </Label>
                    </Col>
                    <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
                      {(<%= fieldName %> || <%= fieldName %>Base64)  ? (
                      <div>
                        <Row>
                          <Col md="11">
                          </Col>
                          <Col md="1">
                          <Button color="danger" onClick={this.clearBlob('<%= fieldName %>')}>
                            <FontAwesomeIcon icon="times-circle" /></Button>
                          </Col>
                        </Row>
                        <a rel="noopener noreferrer" target={"_blank"} href={`${<%= fieldName %>}`}>
                          <%_ if (isAnImage) { _%>
                          <img src={`${<%= fieldName %>Base64  ? ('data:'+<%= fieldName %>ContentType+';base64,'+<%= fieldName %>Base64) : <%= fieldName %>}`}
                            style={{ maxHeight: '100px' }} />
                          <%_ } else { _%>
                          <Translate contentKey="<%= i18nKeyPrefix %>.btnOpen">Open</Translate>
                          <%_ } _%>
                        </a>
                        <br />
                      </div>
                      ) : null}
                      
                      <input 
                        className="file_input"
                        id="file_<%= fieldName %>" 
                        type="file" 
                        ref={el => (this.<%= fieldName %>FileInput = el)}
                        onChange={this.onBlobChange(false, '<%= fieldName %>', this.<%= fieldName %>FileInput)}
                        accept="*"
                      />

                      <label htmlFor="file_<%= fieldName %>" className="file_btn_open">
                        <FontAwesomeIcon icon="upload" />
                        <Translate contentKey="<%= i18nKeyPrefix %>.upload_<%= fieldName %>">Upload <%= fieldNameHumanized %> </Translate>
                      </label>

                      <AvInput onChange={evt => this.setState({ <%= fieldName %>SelectValue: evt.target.value })} type="hidden"  name="<%= fieldName %>" value={<%= fieldName %>}  />
                    </Col>
                  </Row>
                </AvGroup>  
              </Col>
        <%_ } else { _%>
          <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
            <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
              <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
                <%= fieldNameHumanized %>
              </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
            </Label>
          </Col>
          <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
            <AvInput onChange={evt => this.setState({ <%= fieldName %>SelectValue: evt.target.value })} validate={{ <%- include('../react_validators') -%> }} id="<%= entityFileName %>-<%= fieldName %>" type="textarea" name="<%= fieldName %>" />
          </Col>
        <%_ } _%>
      <%_ } else { _%>
        <Col md="<%= formLayoutLabel == 'top' ? 12 : 3  %>">
          <Label className="mt-2" id="<%= fieldName %>Label" for="<%= entityFileName %>-<%= fieldName %>">
            <Translate contentKey="<%= i18nKeyPrefix %>.<%= fieldName %>">
              <%= fieldNameHumanized %>
            </Translate><%= (rulesValidate.includes('required') && rulesValidate.fieldType !== 'Boolean') ? "(*)" : "" %>
          </Label>
        </Col>
        <Col md="<%= formLayoutLabel == 'top' ? 12 : 9  %>">
          <AvInput onChange={evt => this.setState({ <%= fieldName %>SelectValue: evt.target.value })} validate={{ <%- include('../react_validators') -%> }} id="<%= entityFileName %>-<%= fieldName %>" type="text" name="<%= fieldName %>" className={"form-control"} <%- formLayoutInputMask %> />
        </Col>
      <%_ } _%>
      <%_ if ( field.javadoc) { _%>
        <UncontrolledTooltip target="<%= fieldName %>Label">
          <%_ if (enableTranslation) { _%>
            <Translate contentKey="<%= i18nKeyPrefix %>.help.<%= fieldName %>" />
          <%_ } else { _%>
            <%=  field.javadoc %>
          <%_ } _%>
        </UncontrolledTooltip>
      <%_ } _%>
        </Row>
      </AvGroup>
    </Col> : 
    <AvInput onChange={evt => this.setState({ <%= fieldName %>SelectValue: evt.target.value })} type="hidden" name="<%= fieldName %>" value={this.state.fieldsBase[baseFilters]} /> }