<%_ const viewLayoutLabel = rel.viewLayoutLabel ? rel.viewLayoutLabel : 'left' ; _%>
<%_ const viewLayoutSize = rel.viewLayoutSize ? rel.viewLayoutSize : 12; _%>
<%_ const relationshipType = rel.relationshipType;
const ownerSide = rel.ownerSide;
const relationshipName = rel.relationshipName;
const relationshipFieldName = rel.relationshipFieldName;
const relationshipFieldNamePlural = rel.relationshipFieldNamePlural;
const relationshipNameHumanized = rel.relationshipNameHumanized;
const otherEntityName = rel.otherEntityName;
const otherEntityStateName = rel.otherEntityStateName;
const otherEntityFieldCapitalized = rel.otherEntityFieldCapitalized;
const otherEntityField = rel.otherEntityField;

if(rel['viewLayoutEmbebed'] === "true"){ %>
  { <%= entityInstance %>Entity.<%= rel.relationshipFieldName %> ? <%= entityInstance %>Entity.<%= rel.relationshipFieldName %>.map((v,i) =>          
    <div key={i} className="entityEmbebed">
      <<%= rel.relationshipNameCapitalized %>Detail
        history= {this.props.history}
        location = {{pathname: `/<%= entityFileName %>/${this.props.match.params['id']}/<%= rel.otherEntityPath %>/${v.id}`, search: "", hash: "", state: undefined, key: "q2tbhd"}}
        match = {{path: `/<%= entityFileName %>/:id<%= entityReactName %>/<%= rel.otherEntityPath %>/:id`, url: `/<%= entityFileName %>/${this.props.match.params['id']}/<%= rel.otherEntityPath %>/${v.id}`, isExact: true, params: {id: ''+v.id}}}
        <%= rel.otherEntityName %>Entity={convertEntityBuffers<%= rel.otherEntityNameCapitalized %>(v)} 
        getEntity={(): any => {}}
      />
    </div>
  ) : <> </> }

<%_ } else if (relationshipType === 'many-to-one'
          || (relationshipType === 'one-to-one' && ownerSide === true)
          || (relationshipType === 'many-to-many' && ownerSide === true)) { _%>

    <Col className="view-detail-row <%= entityFileName %>-<%=relationshipFieldName%>-detail" md="<%= viewLayoutSize %>">
      <Row>
        <Col className="view-detail-label-<%= viewLayoutLabel %> <%= entityFileName %>-<%=relationshipFieldName%>-detail-label" md="<%= viewLayoutLabel == 'top' ? 12 : 3  %>">
          <dt>
          <Translate contentKey="<%= i18nKeyPrefix %>.<%= relationshipName %>">
            <%= relationshipNameHumanized %>
          </Translate>
          </dt>
        </Col>
        <Col className="view-detail-value-<%= viewLayoutLabel %> <%= entityFileName %>-<%=relationshipFieldName%>-detail-value" md="<%= viewLayoutLabel == 'top' ? 12 : 9  %>">
          <dd>
            <%_ if (otherEntityName === 'user') { _%>
                <%_ if (relationshipType === 'many-to-many') { _%>
          {
          (<%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>) ?
          (<%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>.map((val, i) =>
          <span key={val.id}><a>{val.<%= otherEntityField %>}</a>{(i === <%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>.length - 1) ? '' : ', '}</span>
          )
          ) : null
          }                  <%_ } else { _%>
                    <%_ if (dto === 'no') { _%>
            {(<%= entityInstance + "Entity." + relationshipFieldName %>) ? <%= entityInstance + "Entity." + relationshipFieldName %>.id : ''}
                        <%_ } else { _%>
            {<%= entityInstance + "Entity." + relationshipFieldName %> ? <%= entityInstance + "Entity." + relationshipFieldName %>.id : ''}
                    <%_ } _%>
                <%_ } _%>
            <%_ } else { _%>
                <%_ if (relationshipType === 'many-to-many') { _%>
          {
          (<%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>) ?
          (<%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>.map((val, i) =>
            <span key={val.id}><a>{val.<%= otherEntityField %>}</a>{(i === <%= entityInstance %>Entity.<%= relationshipFieldNamePlural %>.length - 1) ? '' : ', '}</span>
          )
          ) : null
          }
                <%_ } else { _%>
                    <%_ if (dto === 'no') { _%>
            {(<%= entityInstance + "Entity." + relationshipFieldName %>) ? <%= entityInstance + "Entity." + relationshipFieldName %>.id : ''}
                    <%_ } else { _%>
            {<%= entityInstance + "Entity." + relationshipFieldName %> ? <%= entityInstance + "Entity." + relationshipFieldName %>.id : ''}
                    <%_ } _%>
                <%_ } _%>
            <%_ } _%>
          </dd>
        </Col>
      </Row>
    </Col>
      
  <%_ } _%>