import React from 'react';
import {I<%= entityReactName %>Props} from '../<%= entityFileName %>';

const <%= entityInstance %>BeforeComponent = (props: I<%= entityReactName %>Props) => (
  <div className="">
  </div>
);

export default <%= entityInstance %>BeforeComponent;
