import React from 'react';
import {I<%= entityReactName %>Props} from '../<%= entityFileName %>';

const <%= entityInstance %>AfterComponent = (props: I<%= entityReactName %>Props) => (
  <div className="">
  </div>
);

export default <%= entityInstance %>AfterComponent;
